# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [1]:
# Write your answer here:
print("Jonathan Wang")

Jonathan Wang

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 12

In [3]:
# Write your answer here:
students= pd.read_csv("data_raw/students.csv")
grade_x = [0,55,60,65,75,79,80,83,87,93, 100]
label_x = ["F","D","C-","C","C+","B-","B","B+","A-","A"]
pd.cut(students["numericgrade"],
                bins= grade_x,
                right=False,
                labels=label_x)

0     C-
1      F
2      F
3      D
4      C
5      A
6      F
7      F
8      F
9     C-
10     F
11     F
12    C+
13     A
14     F
15     F
16     F
17     D
18     B
19     F
20     F
21    A-
22     B
23     F
24    C-
Name: numericgrade, dtype: category
Categories (10, object): ['F' < 'D' < 'C-' < 'C' ... 'B' < 'B+' < 'A-' < 'A']

<font size = "5">

For questions (b)-(e) use "sprint_results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/sprint_results.csv" to <br>
 a new object "sprint_results"

In [12]:
# Write your own code
sprint_results = pd.read_csv("data_raw/sprint_results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function `sprint_results.dtypes` to get the column data types
- Search for the "sprint_results" table in "codebook/f1_codebook.pdf".
- **Print if the type of the "position" column agree with the codebook?** <br>
i.e. is it an integer, float, or string/object?

HINT: See Lectures 12 and 13 for how to interpret the codebook

- Print the difference you observed between the codebook and the new dataframe you have created.

---
**Optional**
- Convert this `sprint_results.dtypes` object type into DataFrame and  the datatype of `position`.
- HINT: Use pd.DataFrame().reset_index <br>
`reset_index` is to convert the index to a column 
---





<span style = "color:blue"> There are other columns that has disparity with the codebook.\
Feel free to explore them! </span>

In [13]:
# Write your own code here
# Note: When you run "sprint_results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
display(sprint_results.dtypes)
print("Type of position in notebook is different from sprint_results",
      "     notebooK: int(11)   vs    sprint_results: object")

resultId           int64
raceId             int64
driverId           int64
constructorId      int64
number             int64
grid               int64
position          object
positionText      object
positionOrder      int64
points             int64
laps               int64
time              object
milliseconds      object
fastestLap        object
fastestLapTime    object
statusId           int64
dtype: object

Type of position in notebook is different from sprint_results      notebooK: int(11)   vs    sprint_results: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Our goal is to replace any string values in the column "position" <br>
to missing values (NaNs) and covert to numeric

- To do so
    1. Extract list of non-numeric values
    2. Replace certain list of values
    3. Convert column to numeric
    4. Display

In [14]:
# Write your own code here
# Create and store a list of non-numeric values
not_numeric = sprint_results.query("position.str.isnumeric()==False")
to_replace = pd.unique(not_numeric["position"])
print(to_replace)

['\\N']

In [21]:
# Create a list for replacement
list_new = [np.nan]
sprint_results["position"]=sprint_results["position"].replace(to_replace,list_new)
sprint_results["position"] = pd.to_numeric(sprint_results["position"]) #remember to save the now converted values it to the column

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggConstrcId_pos"

- Sort the aggregate dataset in ascending <br>
order of mean position using ".sort_values()" <br>
(i.e., to find the constructor with drivers having the best mean positions)

- Display

- Print which constructorId has the lowest mean position.

HINT: See Lecture 13 <br>

In [24]:
#check type to make sure it's converted to float64
sprint_results.dtypes

resultId            int64
raceId              int64
driverId            int64
constructorId       int64
number              int64
grid                int64
position          float64
positionText       object
positionOrder       int64
points              int64
laps                int64
time               object
milliseconds       object
fastestLap         object
fastestLapTime     object
statusId            int64
dtype: object

In [35]:
# Write your own code

df_aggConstrcid_pos = (sprint_results.groupby("constructorId")
                       .agg(mean = ("position", "mean"),
                            std = ("position","std")))
display(df_aggConstrcid_pos.sort_values(by="mean", ascending=False))
print("Lowest Mean Position Constructor Id: 9")

                    mean       std
constructorId
3              16.181818  2.857208
213            13.909091  2.981763
210            13.833333  5.236816
51             13.000000  3.549648
117            12.750000  3.165869
214            11.636364  4.006812
1               7.250000  3.137022
131             4.833333  4.174236
6               4.750000  2.734460
9               3.363636  2.419617

Lowest Mean Position Constructor Id: 9

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 100'

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggConstr_pos"

- Display

Hint: See Lectures 9 and 11 (to refresh ".query()") and <br>
Lecture 13 for how to combine it with ".groupby()"

In [40]:
# Write your own code
df_subAggConstr_pos= (sprint_results.query("raceId >= 100")
                                    .groupby("constructorId")
                                    .agg(mean =("position","mean"),
                                         std = ("position", "mean")))

display(df_subAggConstr_pos)

                    mean        std
constructorId
1               7.250000   7.250000
3              16.181818  16.181818
6               4.750000   4.750000
9               3.363636   3.363636
51             13.000000  13.000000
117            12.750000  12.750000
131             4.833333   4.833333
210            13.833333  13.833333
213            13.909091  13.909091
214            11.636364  11.636364