                                                        QTM 151 Final Project- Formula 1
Project members: Jonathan Wang, Samuel Lim, Enoc De Jesus\
QTM 151-1

# 1. Introduction

Formula 1, or F1, stands at the pinnacle of international motorsport, showcasing cutting-edge technology and high-speed racing on a global scale.

It features premier single-seater racing events, with many different iconic tracks. Teams, each with two dirvers, compete in aerodynamically advanced cars powered by hybrid units, reahcing speeds over 200 mph. Te sport demans a unique mix of skill, strategy, and teamwork as drivers vie for the Drivers' and Constructos' Championship.

With a historu dating back to 1950s, F1 had become a worlwide spectacle,captivating millions of fans and pushing the boundaries of automotive innoation. F1 races are commonly evaluated using times and racing features. The "Formula 1" dataset provides access to these metrics encompassing F1 race data from 1950 to 2023.

# Our Question

We are curious in finding which circuit produces the fastest finishing time on average, as Formula 1 is a race for the speed and drivers will benefit from circuits that can yield higher average racing time.

Data Description

Describe which dataset tables we're using
    what each row represent
    how many observations contained in each table
    the years
    Overview of the data 

Describe any merging procedures

Summarize data cleaning procedures

describe your main columns- deep analysis for FEW

In [1]:
#Imports for the project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
#Datasets for the project
races = pd.read_csv("raw_data/races.csv") #Races from 1950-2023
results = pd.read_csv("raw_data/results.csv") #sprint results

Merging Procedure\
We merge the two datasets, “results” and “circuits” on the variable circuitId because our two variables of interest, “milliseconds” and “name,” are in distinct datasets. Since we are concerned with the performance of drivers on different circuits, merging on circuitId is most appropriate.

In [42]:
#We merge the results table with the races table on the shared column of "raceId" with the results table merging on the left
races_merge = pd.merge(races,
                       results,
                       on = "raceId",
                       how = "left")

#dropping the columns we won't need for the analysis 
races_merge = races_merge.drop(columns=["date","url","fp1_date","fp1_time","fp2_date","fp2_time","fp3_date",
                                        "fp3_time", "quali_date","quali_time","sprint_date"])

display(races_merge)

,raceId,year,round,circuitId,name,time_x,sprint_time,resultId,driverId,constructorId,...,positionOrder,points,laps,time_y,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,2009,1,1,Australian Grand Prix,06:00:00,\N,7554.0,18.0,23.0,...,1.0,10.0,58.0,1:34:15.784,5655784,17,3,1:28.020,216.891,1.0
1,1,2009,1,1,Australian Grand Prix,06:00:00,\N,7555.0,22.0,23.0,...,2.0,8.0,58.0,+0.807,5656591,43,14,1:29.066,214.344,1.0
2,1,2009,1,1,Australian Grand Prix,06:00:00,\N,7556.0,15.0,7.0,...,3.0,6.0,58.0,+1.604,5657388,50,10,1:28.916,214.706,1.0
3,1,2009,1,1,Australian Grand Prix,06:00:00,\N,7557.0,10.0,7.0,...,4.0,5.0,58.0,+4.435,5660219,53,6,1:28.416,215.920,1.0
4,1,2009,1,1,Australian Grand Prix,06:00:00,\N,7558.0,4.0,4.0,...,5.0,4.0,58.0,+4.879,5660663,53,9,1:28.712,215.199,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25858,1116,2023,19,69,United States Grand Prix,19:00:00,22:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25859,1117,2023,20,32,Mexico City Grand Prix,20:00:00,\N,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25860,1118,2023,21,18,São Paulo Grand Prix,17:00:00,18:30:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25861,1119,2023,22,80,Las Vegas Grand Prix,06:00:00,\N,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25862,1120,2023,23,24,Abu Dhabi Grand Prix,13:00:00,\N,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### 2. Data Cleaning
To initiate the data cleaning process, we initially inspected the data types within our recently consolidated dataset.\
It was observed that the "Milliseconds" column was categorized as an object, prompting the necessity to eliminate empty entries and convert the values in this column into numeric format. To accomplish this, we scrutinized each entry in the milliseconds column to determine its numerical status.\
Subsequently, we identified multiple instances where incorrect format values were returned, indicating the presence of empty or non-numeric entries. These identified values were then replaced with NaN to signify missing data within the milliseconds column.

In [48]:
races_merge["milliseconds"]

0        5655784
1        5656591
2        5657388
3        5660219
4        5660663
          ...
25858        NaN
25859        NaN
25860        NaN
25861        NaN
25862        NaN
Name: milliseconds, Length: 25863, dtype: object

In [49]:
races_merge["milliseconds"].str.isnumeric()

0        True
1        True
2        True
3        True
4        True
         ...
25858     NaN
25859     NaN
25860     NaN
25861     NaN
25862     NaN
Name: milliseconds, Length: 25863, dtype: object

In [57]:
subset = races_merge.query("milliseconds.str.isnumeric()==False")
list_unique = pd.unique(subset["milliseconds"])
list_unique
list_new = [np.nan]
races_merge["milliseconds"] = races_merge["milliseconds"].replace(list_unique,list_new)

In [60]:
display(list_unique)

array(['\\N'], dtype=object)

In [59]:
pd.to_numeric(races_merge["milliseconds"])

0        5655784.0
1        5656591.0
2        5657388.0
3        5660219.0
4        5660663.0
           ...
25858          NaN
25859          NaN
25860          NaN
25861          NaN
25862          NaN
Name: milliseconds, Length: 25863, dtype: float64

Results\
Combination of code to produce tables/plots\
Eplanation of the findings\
Describe pobserved patterns & relationships

Discussion\
Summarize findings: what you learn from the data